@import 'slider';
$hello-width: 70%;

body,
html {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-wrapper {
  background-color: black !important;
}

nav {
  background-color: black !important;
  position: fixed;
  z-index: 3;
}

#welcome {
  width: $hello-width;
}

.black-container {
  background-color: black;
  opacity: 0.8;
}

.brown-container {
  background-color: #341616;
  opacity: 0.9;
}

.orange-container {
  background-color: #584040;
  opacity: 0.9;
}

.normal-text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.next-container {
  width: $hello-width;
  margin-top: -15px;
}

.text-white {
  color: white;
}

.sub {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Cookie';
}

.icon {
  font-size: 40px;
  color: #C9B2AA;
}

.extra-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

#welcome-text {
  font-family: 'Cookie', serif;
  color: white;
  font-size: 100px;
  text-align: right;
  margin-bottom: 0;
}

#slider {
  font-family: 'Cookie', serif;
  color: white;
  font-size: 60px;
  text-align: center;
  color: #C9B2AA;
}

.glow {
  text-shadow: 0 0 4px #FFF, 0 0 8px #FFF, 0 0 10px #FFF;
}
