@import 'slider';

//breakpoints
$break: 900px;

$hello-width: 65%;
$hello-large: 100%;
$input-focus-color: #827717;

body,
html {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.nav-wrapper {
  background-color: black !important;
}

nav {
  background-color: black !important;
  position: fixed;
  z-index: 3;

}

.black-container {
  background-color: black;
}

.brown-container {
  background-color: #341616;
}

.orange-container {
  background-color: #3b2424;
}

.white-container{
  background-color: white;
}
.normal-text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.next-container {
  width: $hello-width;
  opacity: 0.8;
  @media screen and (max-width: $break){
    width: $hello-large;

  }
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

.text-white {
  color: white;
}

.sub {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Cookie';
}

.icon {
  font-size: 40px;
  color: #C9B2AA;
}

.extra-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.welcome-text {
  font-family: 'Cookie', serif;
  color: white;
  font-size: 100px;
  text-align: right;
  margin-bottom: 0;
}

#slider {
  font-family: 'Cookie', serif;
  color: white;
  font-size: 60px;
  text-align: center;
  color: #C9B2AA;
}

#slides{
  @media screen and (max-width: $break){
    display: none;
  }
}

#list-qualities{
  display: none;
  @media screen and (max-width: $break){
    display: inline;
  }
}

.glow {
  text-shadow: 0 0 4px #FFF, 0 0 8px #FFF, 0 0 10px #FFF;
}

#submit {
  background-color: #9e9d24 !important;
  text-transform: lowercase;
}

.form-group{
  color: white;
}

.black-text{
  color: black !important;
}

.brown-border{
  border: 1px solid #341616;
  border-radius: 20px;
}

#cupcake-banner{
  width: 100%;
  display: none;
  @media screen and (max-width: $break){
    display: inline;
  }
}

#cupcake-image{
  @media screen and (max-width: $break){
    display: none;
  }
}

#cupcake-2{
  @media screen and (max-width: $break){
    display: none;
  }
}

#video {
  width: 563px;
  height: 422px;
  @media screen and (max-width: $break){
    width: 400px;
    height: 300px;
  }
}
