html, body{
  background-image: url("images/background.png");
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-wrapper {
  background-color: transparent !important;
}

nav{
  background-color: transparent !important;
}
