/**
by https://codepen.io/brianjhanson/pen/Dtjvw
**/
/* line 6, ../sass/_slider.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/_slider.scss */
.cf:after, .branding:after {
  content: "";
  display: table;
  clear: both;
}

/* line 20, ../sass/_slider.scss */
.branding {
  width: 80%;
  margin: 0 auto;
}

/* line 27, ../sass/_slider.scss */
h1, .factlist {
  font-size: 30px;
}

/* line 31, ../sass/_slider.scss */
h1 {
  float: left;
  font-weight: 300;
  margin: 0;
}

/* line 37, ../sass/_slider.scss */
.window {
  position: relative;
  overflow: hidden;
  height: 55px;
  float: left;
  margin: 0 0 0 .5em;
  margin-top: 10px;
  width: 60%;
}

/* line 47, ../sass/_slider.scss */
.factlist {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0;
  -moz-transform-origin: -80px 0;
  -ms-transform-origin: -80px 0;
  -webkit-transform-origin: -80px 0;
  transform-origin: -80px 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 58, ../sass/_slider.scss */
.factlist li {
  height: 0;
  position: absolute;
  list-style: none;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-origin: -80px 50%;
  -ms-transform-origin: -80px 50%;
  -webkit-transform-origin: -80px 50%;
  transform-origin: -80px 50%;
}

/* line 10, ../sass/main.scss */
body,
html {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 18, ../sass/main.scss */
.nav-wrapper {
  background-color: black !important;
}

/* line 22, ../sass/main.scss */
nav {
  background-color: black !important;
  position: fixed;
  z-index: 3;
}

/* line 29, ../sass/main.scss */
.black-container {
  background-color: black;
}

/* line 33, ../sass/main.scss */
.brown-container {
  background-color: #341616;
}

/* line 37, ../sass/main.scss */
.orange-container {
  background-color: #3b2424;
}

/* line 41, ../sass/main.scss */
.white-container {
  background-color: white;
}

/* line 44, ../sass/main.scss */
.normal-text {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

/* line 50, ../sass/main.scss */
.next-container {
  width: 65%;
  opacity: 0.8;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}
@media screen and (max-width: 900px) {
  /* line 50, ../sass/main.scss */
  .next-container {
    width: 100%;
  }
}

/* line 62, ../sass/main.scss */
.text-white {
  color: white;
}

/* line 66, ../sass/main.scss */
.sub {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Cookie';
}

/* line 72, ../sass/main.scss */
.icon {
  font-size: 40px;
  color: #C9B2AA;
}

/* line 77, ../sass/main.scss */
.extra-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 82, ../sass/main.scss */
.welcome-text {
  font-family: 'Cookie', serif;
  color: white;
  font-size: 100px;
  text-align: right;
  margin-bottom: 0;
}

/* line 90, ../sass/main.scss */
#slider {
  font-family: 'Cookie', serif;
  color: white;
  font-size: 60px;
  text-align: center;
  color: #C9B2AA;
}

@media screen and (max-width: 900px) {
  /* line 98, ../sass/main.scss */
  #slides {
    display: none;
  }
}

/* line 104, ../sass/main.scss */
#list-qualities {
  display: none;
}
@media screen and (max-width: 900px) {
  /* line 104, ../sass/main.scss */
  #list-qualities {
    display: inline;
  }
}

/* line 111, ../sass/main.scss */
.glow {
  text-shadow: 0 0 4px #FFF, 0 0 8px #FFF, 0 0 10px #FFF;
}

/* line 115, ../sass/main.scss */
#submit {
  background-color: #9e9d24 !important;
  text-transform: lowercase;
}

/* line 120, ../sass/main.scss */
.form-group {
  color: white;
}

/* line 124, ../sass/main.scss */
.black-text {
  color: black !important;
}

/* line 128, ../sass/main.scss */
.brown-border {
  border: 1px solid #341616;
  border-radius: 20px;
}

/* line 133, ../sass/main.scss */
#cupcake-banner {
  width: 100%;
  display: none;
}
@media screen and (max-width: 900px) {
  /* line 133, ../sass/main.scss */
  #cupcake-banner {
    display: inline;
  }
}

@media screen and (max-width: 900px) {
  /* line 141, ../sass/main.scss */
  #cupcake-image {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  /* line 147, ../sass/main.scss */
  #cupcake-2 {
    display: none;
  }
}

/* line 153, ../sass/main.scss */
#video {
  width: 563px;
  height: 422px;
}
@media screen and (max-width: 900px) {
  /* line 153, ../sass/main.scss */
  #video {
    width: 400px;
    height: 300px;
  }
}
